<div class="reset-form">
  <h1>Forgot your ValetBike Password?</h1>
  <div class="form">
    <%= form_with url: password_reset_path do |f| %>
      <p class='form-field'>
        <%= f.label 'Email', class: 'form-lbl' %>
        <%= f.text_field :email, class: 'txt-field' %>
      </p>
      <p class='form-button'>
        <%= f.submit 'Reset Password', class: 'btn btn-primary' %>
      </p>
    <% end %>
  </div>
</div>
