<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      ValetBike
    </div>
	Stations:
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
	Bikes:
    <div class="flexbox vertical stretch">
    <% if @bikes.present? %>
        <% @bikes.each do |bike| %>
	  <br>---- Bike #<%= bike.identifier %>
	<% end %>
      <% else %>
      <div class="empty">
        No bikes found.
      </div>
      <% end %>
    </div>
	</div>
</div>
