<div class="site-container">
    <div class="about-section">
      <h1>Off The Rails</h1>
      <div class="about-details">
        <h3>CSC 223: Introduction to Software Engineering</h3>
        <div class="line about-line"></div>
        <h4> Meet Aline, Amanda, Bridget, Kyla and Rafael - a group of made up of 5 students working together to create a fully functioning website from a language we are unfamiliar with - Ruby on Rails</h4>
      </div>

    </div>
</div>
