<!-- Footer -->
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <a class="nav-link" href="/"> About Us </a>
    <p>© 2022 Copyright</p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
