<h1>Home#index</h1>
<h1> please work <h1>
<p>Find me in app/views/home/index.html.erb</p>


<br>

<%= image_tag "/assets/bikePlans.jpg" %>

<br>

<%= link_to "Select a plan now!", "/checkout" %>