<!DOCTYPE html>
<head>
    <title>Pricing Options</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <%# <link rel="shortcut icon" href="as"> %>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./pricing.css">
</head>

<body>
    <div class="pricing-plan-container">
        <section class="pricing-plan">
        <div class="pricing-plan-header">
            <h1 class="pricing-plan-title">Joyrider</h1>
            <h2 class="pricing-plan-summary">For casual rides. Pay per use!</h2>
        </div>
        <div class="pricing-plan-description">
            <ul class="pricing-plan-list">
                <p style="height: 10px"></p>
                <li class="pricing-plan-feature">Feature #1</li>
                <li class="pricing-plan-feature">Feature #2</li>
                <li class="pricing-plan-feature">Feature #3</li>
            </ul>
        </div>
        <div class="pricing-plan-actions">
            <p class="pricing-plan-cost">$3</p>
            <p class="pricing-plan-text">per ride</p>
            <a href="https://buy.stripe.com/test_cN25ko78Fd9I0jC8ww" class="pricing-plan-button">Checkout</a>
        </div>
    </section>

    <section class="pricing-plan">
        <div class="pricing-plan-header">
            <h1 class="pricing-plan-title">Commuter Plan</h1>
            <h2 class="pricing-plan-summary">For regular, scheduled rides</h2>
        </div>
        <div class="pricing-plan-description">
            <ul class="pricing-plan-list">
                <p style="height: 10px"></p>
                <li class="pricing-plan-feature">Feature #1</li>
                <li class="pricing-plan-feature">Feature #2</li>
                <li class="pricing-plan-feature">Feature #3</li>
            </ul>
        </div>
        <div class="pricing-plan-actions">
            <p class="pricing-plan-cost">$25</p>
            <p class="pricing-plan-text">per month</p>
            <a href="https://buy.stripe.com/test_eVa5ko8cJ3z8aYg145" class="pricing-plan-button">Subscribe</a>
        </div>
    </section>
    
    <section class="pricing-plan">
        <div class="pricing-plan-header">
            <h1 class="pricing-plan-title">Company Plan</h1>
            <h2 class="pricing-plan-summary">Commuter, now with a discount!</h2>
        </div>
        <div class="pricing-plan-description">
            <ul class="pricing-plan-list">
                <p style="height: 10px"></p>
                <li class="pricing-plan-feature">Feature #1</li>
                <li class="pricing-plan-feature">Feature #2</li>
                <li class="pricing-plan-feature">Feature #3</li>
            </ul>
        </div>
        <div class="pricing-plan-actions">
            <p class="pricing-plan-cost">$20</p>
            <p class="pricing-plan-text">per month</p>
            <a href="https://buy.stripe.com/test_4gw28c8cJ3z88Q84gi" class="pricing-plan-button">Subscribe</a>
        </div>
    </section>


    <section class="pricing-plan">
        <div class="pricing-plan-header">
            <h1 class="pricing-plan-title">Family Plan</h1>
            <h2 class="pricing-plan-summary">Add up to 5 members!</h2>
        </div>
        <div class="pricing-plan-description">
            <ul class="pricing-plan-list">
                <p style="height: 10px"></p>
                <li class="pricing-plan-feature">Feature #1</li>
                <li class="pricing-plan-feature">Feature #2</li>
                <li class="pricing-plan-feature">Feature #3</li>
            </ul>
        </div>
        <div class="pricing-plan-actions">
            <p class="pricing-plan-cost">$35</p>
            <p class="pricing-plan-text">per month</p>
            <a href="https://buy.stripe.com/test_aEU004eB74Dc6I06or" class="pricing-plan-button">Subscribe</a>
        </div>
    </section>
    </div>
    

</body>