// Place all the styles related to the footer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  padding: 1rem;
  background-color: #212529;
  text-align: center;
  color: white;
}

.contact-list {
  padding: 0;
  display: flex;
  justify-content: center;
}

li .contact-list {
  padding: 15px;
  display: inline-block;
}

.about-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  background-color: #050a30;
}

.about-section h1 {
  font-weight: 500;
  position: relative;
  color: white;
  text-align: center;
  justify-content: center;
}

.about-details {
  color: white;
  text-align: center;
  margin: 2vw 30vw;
}

.about-details h3{
  font-weight: 400;
  margin-bottom: 10px;
}

.about-details h4{
  font-size: 14pt;
  font-family: "Quicksand", sans-serif;
}

.about-details p {
  margin-top: 20px;
}

.about-details .line {
  margin: 40px auto;
}
