/************************************/
/*        Global Definitions        */
/************************************/

* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

html, body {
  height: 100%;
}

body {
  font-size: 12pt;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  font-stretch:ultra-condensed;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

#site-container{
  position: relative;
  width: 100%;
  height: 100%;
  height: auto !important;
  min-height: 100%;
  font-family: inherit;
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--black-color);
  background: var(--white-color);
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Archivo', sans-serif;
 font-weight: 500;
}

label {
  font-family: "Quicksand", serif;
  font-weight: 300;
}

.btn {
  margin: 0 10px;
}

.btn, .input-field {
  font-family: "Quicksand", serif;
  font-weight: 300;
}

h1 {
  font-size: 8vmin;
}

h2 {
  font-size: 6vmin;
}

h3 {
  font-size: 4vmin
}

h4 {
  font-size: 3vmin;
}

@media (max-width: 600) {
  h1, h2, h3, h4 {
    font-size: 8vmin;
  }
}
